div.save-mincalendar {
	direction: rtl;
}

div.actions-link {
	right: auto;
	left: 0;
}

div.tg-pane table caption {
	text-align: right;
}

div.tg-dropdown {
	left: auto;
	right: 0;
}

div.wrap div.mincalendarcom-links {
	text-align: left;
}